					<h1 class="h3 mb-3">Embed Video</h1>

					<div class="row">
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 21:9</h5>
									<h6 class="card-subtitle text-muted">21:9 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="embed-responsive embed-responsive-21by9">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rt0oX-4Hbxc?autohide=0&showinfo=0&controls=0"></iframe>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 1:1</h5>
									<h6 class="card-subtitle text-muted">1:1 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="embed-responsive embed-responsive-1by1">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rt0oX-4Hbxc?autohide=0&showinfo=0&controls=0"></iframe>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-6">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 16:9</h5>
									<h6 class="card-subtitle text-muted">16:9 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rt0oX-4Hbxc?autohide=0&showinfo=0&controls=0"></iframe>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Responsive embed video 4:3</h5>
									<h6 class="card-subtitle text-muted">4:3 aspect ratio</h6>
								</div>
								<div class="card-body pt-0">
									<div class="embed-responsive embed-responsive-4by3">
										<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Rt0oX-4Hbxc?autohide=0&showinfo=0&controls=0"></iframe>
									</div>
								</div>
							</div>
						</div>
					</div>
